.img-mystery {
    margin-bottom: 20px;
}

.update {
    /* display: none; */
    margin-bottom: 20px;
}

.footer {
    display: none;
}

.footer p {
    margin-bottom: 0;
    text-align: center;
    font-size: calc(var(--bs-body-font-size) * .7)
}